*{
    margin:  0;
    padding: 0;
  
}
body{
 min-height: 100vh;
 width: 100vw;
 background-color: #FFFEF5;
 overflow-x: hidden;

}
.text{
    position: absolute;
    width: -90px;
    height: 975px;
    left: 10px;
    top: 56px;
}

.D21{
    position: absolute;
    width: 1038px;
    height: 975px;
    bottom: 73.31%;
 

    color: #8B7777;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    transform: rotate(-90deg);
}

.I12{
    position: absolute;
    width: 1038px;
    height: 975px;
    bottom: 55.31%;
 

    color: #8B7777;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    transform: rotate(-90deg);
}
.line2{
    position: absolute;
    width: 1038px;
    height: 975px;
    bottom: 34.31%;
    left:-10px;
 

    color: #8B7777;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 29px;
    transform: rotate(-90deg);
}
.lines{

    position: absolute;
    left: 800px;
    top: 1025px;
    bottom: 5.31%;
    
    color: #8B7777;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    
}

.Get{
    position: absolute;
    left: 28.96%;
    right: 38.47%;
    top: 3200.17px;
    bottom: 5.31%;
    
    font-family: Poiret One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    
    color: rgba(54, 1, 103, 0.42);

}

.donut{
    
    position: absolute;
    width: 358px;
    height: 361px;
    left: 1000px;
    top: 450px;

    filter: drop-shadow(0px 4px 4px rgba(131, 112, 112, 0.5));
}

.square{
    position: absolute;
    left: -80.89%;
    right: 118.26%;
    top: -110.28%;
    bottom: 147.65%;
}

.circle{
    position: absolute;
    width: 356px;
    height: 361px;
    left: 400px;
    top:  -120px;
}

.Fb{
    position: absolute;
    left: -170.56%;
    right: 40.56%;
    top: 3220.17px;
    bottom: 3.59%;

    opacity: 0.48;
}

.down{
    position: absolute;
    width: 150.28px;
    height: 151.33px;
    left: 70px;
    top: 2700.17px;


}

.Ins{
    position: absolute;
    left: -155.56%;
    right: 40.56%;
    top: 2821.17px;
    bottom: 3.59%;

    opacity: 0.48;
}

.Twit{
    position: absolute;
    left: -120.56%;
    right: -100.56%;
    top: 2821.17px;
    bottom: 3.59%;

    opacity: 0.48;
}

.frame{
    position: absolute;
    width: 150.28px;
    height: 151.33px;
    left: 81px;
    top: 2766.17px;

}

.vec{

    position: absolute;
    width: 150.28px;
    height: 151.33px;
    left: -1010px;
    top: 2900.17px;

}

.env{
    position: absolute;
    left: -175.67%;
    right: -1.6%;
    top: 34.12%;
    bottom: 79.09%;
}

.fram{
    position: absolute;
    width: 150.28px;
    height: 151.33px;
    left: -980px;
    top: 2780.17px;

}

.cir{
    position: absolute;
    width: 266px;
    height: 286px;
    left: -1010px;
    top: 2150px;
}

.con{
    position: absolute;
    width: 266px;
    height: 286px;
    left: -900px;
    top: 1750px;
}
.our{

    position: absolute;
    left: -500px;
    top: 1799px;
    
}
.des{

    position: absolute;
    width: 786px;
    height: 786px;
    left: -1010px;
    top: 250px;

}
.web{

    position: absolute;
    width: 1138px;
    height: 1037px;
    left: -1010px;
    top: 830px;

}
.vec3{

    position: absolute;
    width: 400px;
    height: 360px;
    left: -50px;
    top:  -5px;
 
    transform: rotate(360deg);

}
.uu{
    position: absolute;
    left: 250px;
    width: 400px;
    top: 140px;
    font-size: 400%;
    font-family: 'Padauk', sans-serif;
    color: rgba(54, 1, 103, 0.74);
}
.pud{
    position: absolute;
    left: 257px;
    width: 400px;
    top: 230px;;
    font-size: 240%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}

.ugh{
    position: absolute;
    left: 725px;
    width: 400px;
    top: 580px;;
    font-size: 400%;
    font-family: 'Padauk', sans-serif;
    color: rgba(54, 1, 103, 0.74);
}
h3{
    position: absolute;
    left: 50px;
    width: 400px;
    top: 200px;;
    font-size: 150%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74); 

}
.hi{
    position: absolute;
    left: 50px;
    width: 400px;
    top: 250px;;
    font-size: 175%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74); 
}
.hot{
    position: absolute;
    left: 390px;
    width: 400px;
    top: 270px;;
    font-size: 150%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74); 

}
.cas{
    position: absolute;
    left: 310px;
    width: 400px;
    top: 350px;;
    font-size: 180%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74); 
}

.c{

    position: absolute;
    left: 1200px;
    right: -5px;
    top: 1%;
    bottom:  96.24%;
}

.po{

    position: absolute;
    left: 1000px;
    right: 190px;
    top: 50px;
    bottom: 147px;

    background: linear-gradient(180deg, #CD98E7 0%, rgba(252, 166, 166, 0) 100%);
    transform: rotate(-5deg);
}

.po1{

    position: absolute;
    left: 1020px;
    right: 190px;
    top: 68px;
    bottom: 147px;

    background: linear-gradient(180deg, #CD98E7 0%, rgba(252, 166, 166, 0.2) 100%);
    transform: rotate(-5deg);
}

.po2{

    position: absolute;
    left: 850px;
    right: 100px;
    top: 220px;
    bottom: 147px;

    background: linear-gradient(302.83deg, #CD98E7 22.95%, rgba(252, 166, 166, 0.24) 73.82%);
    transform: rotate(1deg);
}

.po3{
    position: absolute;
    left: 860px;
    right: 100px;
    top: 230px;
    bottom: 147px;

    background: linear-gradient(180deg, #FCA6A6 0%, rgba(205, 152, 231, 0) 100%);
    transform: rotate(-2deg);
}

.po4{
    position: absolute;
    left: 1270px;
    right: 100px;
    top: 235px;
    bottom: 88px;

    background: linear-gradient(180deg, #CD98E7 0%, rgba(252, 166, 166, 0.47) 100%);
    transform: rotate(2deg);
}

.po5{
    position: absolute;
    left: 1276px;
    right: 100px;
    top: 245px;
    bottom: 88px;

    background: linear-gradient(180deg, #CD98E7 0%, rgba(252, 166, 166, 0.28) 100%);
    transform: rotate(1deg);
}

.i1{

    position: absolute;
    left: 100px;
    right: 50px;
    top: 470px;
    bottom: 1000px;
}

.v4{
    position: absolute;
    left: 770px;
    right: -66px;
    top: 489px;
    bottom: 1px;

    background: linear-gradient(45.88deg, #CD98E7 5.29%, rgba(252, 166, 166, 0) 59.53%);
    transform: rotate(1deg);
}

.i2{
    position: absolute;
    left: 1050px;
    right: 100px;
    top: 1060px;
    bottom: 64px;

    filter: drop-shadow(0px 4px 4px rgba(131, 112, 112, 0.5));
    transform: rotate(5deg);

}
.v5{
    position: absolute;
    left: 50px;
    right: -66px;
    top: 1200px;
    bottom: 1px;
   

}
.he{
    position: absolute;
    left: 300px;
    width: 400px;
    top: 150px;;
    font-size: 400%;
    font-family: 'Padauk', sans-serif;
    color: rgba(54, 1, 103, 0.74);
}
.ho{
   
    position: absolute;
    left: 650px;
    width: 400px;
    top: 150px;;
    font-size: 400%;
    font-family: 'Padauk', sans-serif;
    color: rgba(54, 1, 103, 0.74);
}

.i3{
    position: absolute;
    left: 870px;
    right: 100px;
    top: 1500px;
    bottom: 47px;
    
}

.i4{
    position: absolute;
    left: 50px;
    right: 37px;
    top: 1650px;
    bottom: 37px;
    transform: rotate(0deg);
}

.v6{
    position: absolute;
    left: 700px;
    right: -85px;
    top: 2050px;
    bottom: 8px;
    transform: rotate(0deg);
}
.jav{
    position: absolute;
    left: 100px;
    width: 400px;
    top: 330px;
    font-size: 400%;
    font-family: 'Padauk', sans-serif;
    color: rgba(54, 1, 103, 0.74);
    
}
.ler{
    position: absolute;
    left: 125px;
    width: 400px;
    top: 450px;
    font-size: 130%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.cs{
    position: absolute;
    left: 125px;
    width: 400px;
    top: 525px;
    font-size: 160%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}

.i5{
    position: absolute;
    left: 35px;
    right: 48px;
    top: 2540px;
    bottom: 18px;
  
}

.i6{
    position: absolute;
    left: 190px;
    right: 48px;
    top: 2400px;
    bottom: 18px;
    transform: rotate(-1deg);
}

.c1{
    position: absolute;
    left: 780px;
    right: 48px;
    top: 2880px;
    bottom: 18px;
}

.c2{
    position: absolute;
    left: 890px;
    right: 48px;
    top: 2950px;
    bottom: 18px;
}

.i7{
    position: absolute;
    left: 550px;
    right: 48px;
    top: 3360px;
    bottom: 18px;
}
.meet{
    position: absolute;
    left: 113px;
    right: 48px;
    top: -10px;
    bottom: 18px;
    font-size: 100%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74); 
}
.meet1{
    position: absolute;
    left: 150px;
    right: 48px;
    top: -10px;
    bottom: 18px;
    font-size: 100%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74); 
}
.meet2{
    position: absolute;
    left: 173px;
    right: 48px;
    top: -10px;
    bottom: 18px;
    font-size: 100%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74); 
}
.f1{
    position: absolute;
    width: 356px;
    height: 361px;
    left: 1005px;
    top: -50px;
}
.f2{
    position: absolute;
    left: -900px;
    top: 50px;
}
.d{
    position: absolute;
    left: 310px;
    width: 400px;
    top: 650px;;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(255, 255, 255, 0.98);
}
.j{
    position: absolute;
    left: 150px;
    width: 400px;
    top: 274px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(255, 255, 255, 0.98);
}
.b{
    position: absolute;
    left: 160px;
    width: 400px;
    top: 1185px;;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(255, 255, 255, 0.98);
}
.s{
    position: absolute;
    left: -10px;
    width: 400px;
    top: 810px;;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(255, 255, 255, 0.98);
}
.r{
    position: absolute;
    left: 300px;
    width: 400px;
    top: 810px;;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(255, 255, 255, 0.98);
}
.vecc{
    position: absolute;
    left: -400px;
    right: -166.67%;
    top: 117.49%;
    bottom: -106.55%;
    
}
.gett{
    position: absolute;
    left: 200px;
    width: 400px;
    top: 1450px;;
    width: 300px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
   
}
.homes{
    position: absolute;
    left: -100px;
    width: 400px;
    top: 1075px;
    width: 300px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
}
.ryemm{
    position: absolute;
    left: 235px;
    width: 400px;
    top: 150px;
    width: 290px;

}
.jimm{
    position: absolute;
    left: 580px;
    width: 400px;
    top: 100px;
    width: 290px;

}
.kebs{

    position: absolute;
    left: 43px;
    width: 600px;
    top: 800px;
    width: 350px;

}
.recca{
    position: absolute;
    left: 360px;
    width: 700px;
    top: 750px;
    width: 400px;
}
.ron{
    position: absolute;
    left: 735px;
    width: 600px;
    top: 700px;
    width: 325px;
}

.ryem{
    position: absolute;
    width: 400px;
    height: 360px;
    left: 200px;
    top:  -10px;
}
.ryemi{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 300px;
    font-size: 270%;
    font-family: 'Padauk', sans-serif;
    color: rgba(54, 1, 103, 0.74);
}
.r1{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 355px;
    font-size: 150%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.info{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 400px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.rj{
    position: absolute;
    left: 50px;
    width: 400px;
    top: 100px;
    width: 290px;
}
.go{

    position: absolute;
    left: -100px;
    right: 48px;
    top: 610px;
    bottom: 18px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.jim{
    position: absolute;
    width: 400px;
    height: 360px;
    left: 200px;
    top:  -10px;
}
.jimi{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 300px;
    font-size: 270%;
    font-family: 'Padauk', sans-serif;
    color: rgba(54, 1, 103, 0.74);
}
.j1{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 355px;
    font-size: 150%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.info1{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 400px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.jj{
    position: absolute;
    left: 50px;
    width: 400px;
    top: 100px;
    width: 290px;
}
.go1{

    position: absolute;
    left: -100px;
    right: 48px;
    top: 610px;
    bottom: 18px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}

.kebss{
    position: absolute;
    width: 400px;
    height: 360px;
    left: 200px;
    top:  -10px;
}
.kebsi{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 300px;
    font-size: 270%;
    font-family: 'Padauk', sans-serif;
    color: rgba(54, 1, 103, 0.74);
}
.k1{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 355px;
    font-size: 150%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.info2{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 400px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.kj{
    position: absolute;
    left: 50px;
    width: 400px;
    top: 225px;
    width: 350px;
}
.go2{

    position: absolute;
    left: -100px;
    right: 48px;
    top: 610px;
    bottom: 18px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.reccas{
    position: absolute;
    width: 400px;
    height: 360px;
    left: 200px;
    top:  -10px;
}
.recai{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 250px;
    font-size: 270%;
    font-family: 'Padauk', sans-serif;
    color: rgba(54, 1, 103, 0.74);
}
.s1{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 305px;
    font-size: 150%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.info3{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 350px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.sj{
    position: absolute;
    left: -30px;
    width: 400px;
    top: 150px;
    width: 500px;
}
.go3{

    position: absolute;
    left: -100px;
    right: 48px;
    top: 610px;
    bottom: 18px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.ronn{
    position: absolute;
    width: 400px;
    height: 360px;
    left: 200px;
    top:  -10px;
}
.roni{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 250px;
    font-size: 270%;
    font-family: 'Padauk', sans-serif;
    color: rgba(54, 1, 103, 0.74);
}
.dd{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 305px;
    font-size: 150%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.info4{
    position: absolute;
    left: 450px;
    width: 400px;
    top: 350px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}
.dj{
    position: absolute;
    left: 10px;
    width: 400px;
    top: 100px;
    width: 400px;
}
.go4{

    position: absolute;
    left: -100px;
    right: 48px;
    top: 610px;
    bottom: 18px;
    font-size: 125%;
    font-family: 'Poiret One', cursive;
    color: rgba(54, 1, 103, 0.74);
}

